html, body {
    margin:0px;
    padding:0px;
    max-width: 100%;



}



header{
    background-color: aqua;
    height:20%;

}
header p{
    text-align: right;
    font-size:1.5em;


}

/**********************************    FOOTERS   ***************/


footer{
    background-color: #c0c0c0;
    height:10%;


    clear:both;

}


headers p{
    text-align: center;
}



/******************************    main **************************/
/****************************************************************/


main {
    background-color: aquamarine;
    width:80%;
    height:70%;
    float: right;



}
main p{

    font-size:1em;

    margin-left:10px;


}

main h{

    margin-top: 50px;
    text-align: center;
}
main ul{
    list-style-type: none;
    color: black;
}


nav {
    background-color: aliceblue;
    color:black;
    width: 20%;
    height:70%;
    float: right;

}
nav h{
    color: black;
}
nav li{
    color: black;
}
nav ul{
    list-style-type: none;
    color: black;
}




/**menu deroulant
https://www.web-eau.net/blog/15-animations-css-vraiment-bluffantes
 */

.menu {
    display: block;
    position: relative;
    cursor: pointer;
}
.menu-title {
    display: block;
    width: 230px;
    height: 60px;
    padding: 12px ;
    margin-left: 20px;
    background: #9dc852;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s background-color;
}
.menu-title:before {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #9dc852;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 0 solid #ddd;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition: 0.2s 0.2s border-top ease-out, 0.3s border-top-color;
}
.menu-title:hover {
    background: #8db842;
}
.menu-title:hover:before {
    border-top-color: #8db842;
}
.menu:hover > .menu-title:before {
    border-top-width: 0;
    transition: 0.2s border-top-width ease-in, 0.3s border-top-color;
}
.menu-title:after {
    content: "";
    display: block;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 0 solid #ebebeb;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 101;
    transition: 0.2s border-bottom ease-in;
}
.menu:hover > .menu-title:after {
    border-bottom-width: 5px;
    transition: 0.2s 0.2s border-bottom-width ease-out;
}
.menu-title_2nd {
    background: #4e96b3;
}
.menu-title_2nd:hover {
    background: #3e86a3;
}
.menu-title_2nd:before {
    border-top-color: #4e96b3;
}
.menu-title_2nd:hover:before {
    border-top-color: #3e86a3;
}
.menu-title_3rd {
    background: #c97676;
}
.menu-title_3rd:hover {
    background: #b96666;
}
.menu-title_3rd:before {
    border-top-color: #c97676;
}
.menu-title_3rd:hover:before {
    border-top-color: #b96666;
}
.menu-title_4th {
    background: #dbab58;
}
.menu-title_4th:hover {
    background: #cb9b48;
}
.menu-title_4th:before {
    border-top-color: #dbab58;
}
.menu-title_4th:hover:before {
    border-top-color: #cb9b48;
}
.menu-dropdown {
    min-width: 230px;
    padding: 15px 0;
    margin-left: 20px;
    position: absolute;
    background: #ebebeb;
    z-index: 100;
    transition: 0.5s padding, 0.5s background;
}
.menu-dropdown:after {
    content: "";
    display: block;
    height: 0;
    border-top: 5px solid #ebebeb;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition: 0.5s border-top;
}
.menu:not(:hover) > .menu-dropdown {
    padding: 4px 0;
    background: #ddd;
    z-index: 99;
}
.menu:not(:hover) > .menu-dropdown:after {
    border-top-color: #ddd;
}
.menu:not(:hover) > .menu-title:after {
    border-bottom-color: #ddd;
}
.menu-dropdown > * {
    overflow: hidden;
    height: 30px;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0);
    white-space: nowrap;
    transition: 0.5s height cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s padding cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s margin cubic-bezier(0.73, 0.32, 0.34, 1.5), 0.5s 0.2s color, 0.2s background-color;
}
.menu-dropdown > *:hover {
    background: rgba(0, 0, 0, 0.1);
}
.menu:not(:hover) > .menu-dropdown > * {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    color: rgba(25, 25, 25, 0);
    transition: 0.5s 0.1s height, 0.5s 0.1s padding, 0.5s 0.1s margin, 0.3s color, 0.6s visibility;
    z-index: 99;
}








